---
layout: default
---

<div class="home">
	<section class="hero" style="min-height: calc(100vh);">
		<div class="content">
			<span class="tagline wow fadeInDown">
				Sound engineering for your
				<span class="rotate">&nbsp;concert.</span>
				<span class="rotate">&nbsp;recording.</span>
				<span class="rotate">&nbsp;festival.</span>
				<span class="rotate">&nbsp;event.</span>
			</span>
			<br>
			<a class="service-link" href="#services">Who we are →</a>
			<a class="service-link" href="#services">What we do →</a>
			<a class="service-link" href="#services">How we can help →</a>
		</div>
		<!--<a href="#about" class="arrow-down"><img src="/assets/img/arrow.svg"></a>-->
	</section>

  <!--{% for page in site.pages %}
  	{% if page.title %}
	  	<section id="{{ page.title | downcase }}" style="background-image: url('/assets/img/{{page.title}}-bg.jpg'); background-size: cover;">
	  		<div  class="content">
	  			<h2>{{ page.title }}</h2>
	  			<div>
	  				{{page.content}}
	  			</div>
	  		</div>
	  	</section>
  	{% endif %}
  {% endfor %}-->

  {% for page in site.pages %}
  	{% if page.title == "About" %}
	    	<section id="{{ page.title | downcase }}" style="background-image: url('/assets/img/{{page.title}}-bg.jpg'); background-size: cover;">
	    		<div class="content">
	    			<h2 class="wow fadeInDown">{{ page.title }}</h2>
	    			<div>
	    				{{page.content}}
	    			</div>
	    		</div>
	    	</section>
  	{% endif %}
  {% endfor %}

  {% for page in site.pages %}
  	{% if page.title == "Services" %}
      	<section id="{{ page.title | downcase }}" style="background-image: url('/assets/img/{{page.title}}-bg.jpg'); background-size: cover;">
      		<div  class="content">
      			<h2 class="wow fadeInDown">{{ page.title }}</h2>
      			<div>
      				{{page.content}}
      			</div>
      		</div>
      	</section>
  	{% endif %}
  {% endfor %}

  {% for page in site.pages %}
  	{% if page.title == "Contact" %}
      	<section id="{{ page.title | downcase }}" style="background-image: url('/assets/img/{{page.title}}-bg.jpg'); background-size: cover;">
      		<div  class="content">
      			<h2 class="wow fadeInDown">{{ page.title }}</h2>
      			<div>
      				{{page.content}}
      			</div>
      		</div>
      	</section>
  	{% endif %}
  {% endfor %}

</div>
