body {
	background: $blue;
	color: $white;
//	background-image: url('/assets/img/concert1.jpg');
	background-size: cover;
}

.button.option {
	border: 1px solid $white;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	display: block;
	background: #fff;
}

section {
	padding-top: 10rem;
	padding-bottom: 10rem;
	border-top: 1rem solid #fff;
	border-right: 1rem solid #fff;
	border-left: 1rem solid #fff;
}

section.hero {
	border: none;
}

.rotate {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	animation: rotateWords 12s linear infinite 0s;
	-webkit-animation: rotateWords 12s linear infinite 0s;
}

.rotate:nth-of-type(2) { 
	animation-delay: 3s;
	-webkit-animation-delay: 3s; 
}
.rotate:nth-of-type(3) { 
	animation-delay: 6s;
	-webkit-animation-delay: 6s; 
}
.rotate:nth-of-type(4) { 
	animation-delay: 9s; 
	-webkit-animation-delay: 9s;
}

@keyframes rotateWords {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotateWords {
    0% { opacity: 1; animation-timing-function: ease-in; }
    8% { opacity: 1; }
    19% { opacity: 1; }
	25% { opacity: 0;  }
    100% { opacity: 0; }
}