//
// Partial: Typography
// ===================
//

body {
	font-size: 1.25rem;
	font-size: 1.375rem;
	font-family: Karla, 'Museo Sans', museo-sans, helvetica;
	line-height: 1.75rem;
	line-height: 2rem;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	border: none;
}

h1 {
	font-size: 3.125rem;
	line-height: 3.5rem;
//	font-weight: 100;
	margin-bottom: 1.75rem;
	font-size: 
}

h2 {
	font-size: 2.75rem;
	line-height: 1.75rem;
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

h4 {
	font-size: 1rem;
	text-transform: uppercase;
}

::selection {
	background: $blue;
	color: $white;
}

.team-partner-bio {
	font-size: 1.125rem;
}

.tagline {
	font-size: 2.75rem;
	line-height: 3.5rem
}