.site-header {
	display: block;
//	margin-bottom: $gutter;
	padding-top: $gutter;
	padding-bottom: $gutter;
	@include outer-container();
//	position: fixed;
	position: absolute;
	margin-top: 0;
	top: 0;
	z-index: 100;
	width: 100%;
  text-align: left;
}

.site-header .content {
	position: relative;
}

.site-logo-link {
	@include span-columns(6 of 12);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 3rem;
}

.site-logo {
	max-height: 3rem;
}

.site-nav {
	float: right;
	@include span-columns(6 of 12);
	// @include shift(1 of 12);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.125rem;
	text-align: right;
	a {
//		text-align: right;
//		@include span-columns(2 of 6);
		display: inline-block;
		padding: 0.5rem 1rem;
//		text-align: center;
//		padding: 0.5rem;
//		border-radius: 0.25rem;
//		border: 1px solid $blue;
//		&:hover {
//			border-color: $white;
//		}
	}

}

//.home {
//	margin-top: 6rem;
//}
